<section class="contact-us">
  <div><img class="contact-img" [src]="contactUsImg"></div>
  <div class="con-main clearfix">
    <ul class="add-list row">

      <li class="col-md-3 col-sm-3 col-xs-6">
        <span><i class="fa fa-phone fa-2x"></i></span>
        <em>Telephone</em>
        <p>04-2500625</p>
      </li>

      <li class="col-md-3 col-sm-3 col-xs-6">
        <span><i class="fa fa-mobile fa-2x"></i></span>
        <em>mobile</em>
        <p>Fadi: 059-9231237</p>
        <p>Ali: 059-7043586</p>
      </li>
      <li class="col-md-3 col-sm-3 col-xs-6">
        <span><i class="fa fa-envelope fa-2x"></i></span>
        <em>Email</em>
        <p>fadi.samara@pvplus.ps‏</p>
      </li>
      <li class="col-md-3 col-sm-3 col-xs-6 ">
        <span><i class="fa fa-map-marker fa-2x"></i></span>
        <em>Address</em>
        <p>Heifa Street , Jenin , Palestine</p>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="contact-msg col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Email</span>
        </div>
        <input type="text" class="form-control" ngModel="email" aria-label="Email">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">phone</span>
        </div>
        <input type="tel" class="form-control" ngModel="phone" aria-label="Email">
      </div>
      <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <span class="input-group-text">Message</span>
        </div>
        <textarea class="form-control" rows="3"></textarea>
      </div>
      <div class="input-group mb-3">
        <button  class="btn  btn-primary ">Send</button>
      </div>

    </div>
    <div class="map col-md-6">
      <iframe src="https://www.google.com/maps/d/embed?mid=1zIUcsZ7NWb_tnsrlfiC_3Pbeth0NnI50" width="640" height="480"></iframe>    </div>
  </div>

</section>
