/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap.scss";

body {
  padding: 0;
  section {
    margin-bottom: 20px;
  }
  a:link, a:active, a:visited {
    color: white;

  }
  a:hover {
    color: darkslategrey;
  }
  .row {
    margin: 0px !important;

    .blog {
      display: table;
      height: 140px;
      text-align: center;
      p {
        display: table-cell;
        vertical-align: middle;

      }
      .align-vertical-center {

        //transform:translateY(50%);
        //vertical-align: middle;
      }

    }
  }
;
}
